.logo img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    object-fit: cover;
    display: block; 
    margin: 0 auto 20px auto;
    box-shadow: 0 2px 5px   rgba(0a, 0, 0, 0.1);
}




.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 15px;
  padding: 12px 0;
  background-color: #8d5876;
 justify-content: center;
  font-size: 1.5em;
  height: auto;

}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
}

.erreur-404{

    text-align: center;
    padding: 50px 20px;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #d81b60;
}


.titre{
font-size: 2em;
font-family: 'Poppins', sans-serif;
text-align: center;
}

.erreur-404 p{
font-family: 'Poppins', sans-serif;
font-size: 1.4em;
text-align: center;
margin-bottom: 15px;
}

.bouton {
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #f8528f;
    color: white;
    border-radius: 10%;
    font-weight: 500;
}


.footer-bas {

  border-top: 4px solid;
  background-color: #ffd6ec;

  text-align: center;
  padding: 30px 15px;
  font-family:'Poppins', sans-serif;
}

.barre-footer{
background-color: #fd78a9;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
}


  .contact-lien {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}


.icone a {
  margin: 0 20px;
  padding: 25px;
  font-size: 18px;
  color: white
}

.icone a:hover {
  color: white;
}

.copy {
  color: white !important;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}



